<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="list_books.html">Library</a>
                <a href="logout.html">Logout</a>

        <h1>Edit Book</h1>

        <p>
            You are currently editing this book. All changes you make are permanent.
        </p>

        <h2>Tale of Two Cites</h2>
        <p>by Charles Dickens</p>

        <h2>Table of Contents</h2>
        <ul>
            <li>
                <a href="read_chapter.html">Chapter 1 - Best of Times</a> --
                [<a href="edit_chapter.html">EDIT</a>]
            </li>
            <li>
                <a href="read_chapter.html">Chapter 2 - Worst of Times</a> --
                [<a href="edit_chapter.html">EDIT</a>]
            </li>
            <li>
                <a href="read_chapter.html">Chapter 3 - Time of Reason</a> --
                [<a href="edit_chapter.html">EDIT</a>]
            </li>
            <li>
                <a href="read_chapter.html">Chapter 4 - Time of Foolishness</a> --
                [<a href="edit_chapter.html">EDIT</a>]
            </li>
        </ul>
        <a href="read_book.html">Save</a>
        <a href="read_book.html">Cancel</a>
    </body>
</html>