<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="logout.html">Logout</a>

        <h1>List Books</h1>
        <ul>
            <li>
                <a href="read_book.html">Tale of Two Cites</a> - by Charles Dickens --
                [<a href="edit_book.html">EDIT</a>]
            </li>
            <li>
                Lord of the Rings - JRR Tolkien --
                [<a href="edit_book.html">EDIT</a>]
            </li>
            <li>
                Gates of Fire - Stephen Pressfield --
                [<a href="edit_book.html">EDIT</a>]
            </li>
        </ul>
    </body>
</html>