<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="list_books.html">Library</a>
        <a href="logout.html">Logout</a>
        <h1>Read Book</h1>
        <h2>Tale of Two Cites</h2>
        <p>by Charles Dickens</p>

        <h2>Table of Contents</h2>
        <ul>
            <li>
                <a href="read_chapter.html">Chapter 1 - Best of Times</a>
            </li>
            <li>
                <a href="read_chapter.html">Chapter 2 - Worst of Times</a>
            </li>
            <li>
                <a href="read_chapter.html">Chapter 3 - Time of Reason</a>
            </li>
            <li>
                <a href="read_chapter.html">Chapter 4 - Time of Foolishness</a>
            </li>
        </ul>
        <p></p>
    </body>
</html>