<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>

        <a href="read_book.html">Table of Contents</a>
                <a href="logout.html">Logout</a>

        <h1>Read Chapter</h1>
        <h2>Chapter 1 - Best of Times</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur deserunt dicta iste molestiae
            placeat sequi ut. Architecto asperiores dignissimos dolorum, eveniet ex iure iusto odit officia officiis,
            pariatur quam repellendus reprehenderit saepe sapiente sed sunt suscipit totam veniam! Aspernatur at dolore
            eum eveniet illum minima, nam nulla odio velit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deleniti dolore earum facilis fugiat fugit, hic
            iste iusto molestiae necessitatibus non nostrum perferendis placeat provident quidem quod repellat
            repellendus sequi tempora unde! Ad debitis fuga ipsum molestiae pariatur quibusdam ratione voluptatibus!
            Ducimus earum expedita fugit inventore ipsam iure laudantium nisi nulla provident, quis, rem repudiandae! Ab
            animi assumenda aut delectus dicta doloremque eligendi expedita facilis illo, magnam nam nostrum porro
            ratione temporibus tenetur velit veritatis. Ab aperiam assumenda at commodi culpa cum dicta distinctio
            dolor, doloremque doloribus esse eum expedita facere illo ipsa iste laudantium maiores nihil omnis quaerat
            quasi quidem quod repellat repudiandae sapiente, sequi suscipit tenetur, veritatis vero voluptatum! Ab illo
            laborum, libero maiores nemo officia optio rerum sequi suscipit! Accusantium alias assumenda commodi
            consequatur, cumque deserunt dignissimos dolorem ea eaque eius esse excepturi explicabo fugiat in inventore
            laudantium magnam minus molestias neque odio perferendis quae reiciendis repudiandae sapiente soluta
            suscipit tempora vero vitae voluptas voluptate. Adipisci architecto aspernatur cum distinctio doloremque
            dolorum, enim inventore ipsum laborum minima non odio rem, repudiandae sunt temporibus, vitae voluptates.
            Dolorum exercitationem nostrum perspiciatis quisquam sequi. A amet, aspernatur doloribus eos ipsum iste
            mollitia nesciunt quibusdam sunt voluptas! Aliquid doloremque quibusdam voluptas?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur dicta, necessitatibus quas
            quia rem. Culpa delectus dignissimos facilis inventore laborum modi nisi non quasi quis saepe! Accusantium
            alias amet architecto atque, consequatur corporis cumque cupiditate dicta doloribus earum error esse est
            eveniet exercitationem in ipsa ipsum iure labore libero maxime non odit porro praesentium quaerat reiciendis
            saepe totam vel! Accusamus ad adipisci alias architecto distinctio dolor error, eveniet fugiat incidunt
            molestiae nam, numquam placeat similique, sint soluta suscipit tempora. Et, laborum mollitia. A ab aperiam,
            autem dicta distinctio et eum facere iste iure magnam minima nostrum, quidem, sunt. Quibusdam.</p>
    </body>
</html>